# Gitignore padrão do Angular

### Node
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Módulos de dependências
node_modules/
dist/
.env

# Angular cache
.angular/cache/

# MacOS
.DS_Store

# IDEs
.idea/
.vscode/

# Build artifacts
/dist
/coverage
/e2e/
